footer {
    background-color: var(--secondary-color);
}

.footer-container {
    width: 100%;
    padding: 1.7rem 1.5rem;
}

.socialicons {
    display: flex;
    justify-content: center;
}

.socialicons a {
    text-decoration: none;
    padding: 1rem;
    background-color: #202022;
    margin: 1rem;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.socialicons a i {
    font-size: 1.5rem;
    color: var(--white);
    opacity: 0.9;
}

.socialicons a:hover {
    background-color: var(--primary-color);
}

.socialicons a:hover i {
    opacity: 1;
    color: var(--secondary-color);
}

.footer-list {
    margin: 1rem 0;
}

.footer-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap; 
}

.footer-list ul li a {
    color: var(--white);
    margin: 1rem;
    text-decoration: none;
    font-size: 1rem;
    opacity: 0.7;
    transition: 0.5s;
}

.footer-list ul li a:hover {
    opacity: 1;
}

.footer-buttom {
    background-color: #111111;
    padding: 0.5rem 0;
    text-align: center;
}

.footer-buttom p {
    color: var(--text-light);
    font-size: 0.8rem;
}

.designer {
    opacity: 0.7;
    font-weight: 400;
    margin: 0 0.5rem;
}