footer{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #111;
}

.footer-container{
    width: 100%;
    padding: 1.7rem 1.5rem;
}

.socialicons{
    display: flex;
    justify-content: center;
}

.socialicons a {
    text-decoration: none;
    padding: 1rem;
    background-color: #202022;
    margin: 1rem;
    border-radius: 35%;
}

.socialicons a i {
    font-size: 1.5rem;
    color: #e0e5e8;
    opacity: 0.9;
}

.socialicons a:hover {
    background-color: #202022;
    transition: 0.5s;
}

.socialicons a:hover i {
    background-color: #202022;
    transition: 0.5s;
}

.footer-list{
    margin: 1rem 0;
}

.footer-list ul {
    display: flex;
    justify-content: center;
     list-style: none;
}

.footer-list ul li a{
    color: #fff;
    margin: 1rem;
    text-decoration: none;
    font-size: 1.3rem;
    opacity: 0.7;
    transition: 0.5s;
}

.footer-list ul li a:hover {
    opacity: 1;
}

.footer-buttom {
    background-color: #1111;
    padding: 0.5rem 0;
    text-align: center;
}
 
.footer-buttom p{
    color: #fff;
}

.designer {
    opacity: 0.7;
    text-transform: 1px;
    font-weight: 400;
    margin: 0 0.5rem;
}