@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --primary-color: #a87b05 ;
    --secondary-color: #111111;
     --text-light: #d1d5db;
    --white: #ffffff;
    --max-width: 1200px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    transition: 0.3s;
}

ul{
    list-style: none;
}

body{
    font-family: "Poppins", sans-serif;
    background-image: url(images/fundo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
     background-size: cover;
    min-height: 100vh;  
}

nav{
    position: fixed;
    isolation: isolate;
    width: 100%;
    max-width:1200px;
    margin-inline: auto;
    z-index: 9;
}

.nav_header {
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color); 
}

.nav_logo a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--primary-color);
}

.nav_logo img {
    display: flex;
    max-width: 60px; 
}

.nav_logo span{
    display: none;
}

.nav_menu_btn {
    font-size: 1.5rem;
    color: var(--secondary-color);
    cursor: pointer;
}

.nav_links {
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--primary-color);
    transition: 0.5s;
    z-index: -1;
    transform: translateY(-100%);
}

.nav_links.open {
    transform: translateY(0);
}

.nav_links a{
    font-size: 1.2rem;
    color: var(--white);
}

.nav_links a:hover{
    color: var(--secondary-color);
}

.header_container {
   max-width: var(--max-width);
   margin-inline: auto;
   padding-top: 70px;
   padding-block: 5rem 2rem;
   padding-inline: 1rem;
   display: grid;
   gap: 2rem; 
}

.header_image img {
    width: 100%;
    max-width: 600px;
    margin-inline: 4rem 2rem;
    display: flex;
    
}

.header_content {
    overflow: hidden;
    text-align: center;
}

.header_content h2 {
    position: relative;
    isolation: isolate;
    max-width: fit-content;
    margin-left: auto;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: var(--primary-color);
    text-align: right;
}

.header_content h2::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0px;
    width: 100%;
    height: 2px;
    background-color: var(--white);
    transform: translate(calc(-100% - 1rem), -50%);
}

.header_content h1 {
    font-size: 5rem;
    font-weight: 500;
    color: antiquewhite;
    line-height: 5rem;
}

.h1_span-1{
    font-size: 3rem;
    color: var(--primary-color);
}

.h1_span-2{
    font-size: 2.5rem;
    font-weight: 400;
    padding: 0%;
}

.header_content p {
    font-size: 1.2rem;
  margin-bottom: 3rem;
  color: var(--text-light);
}

.header_content .btn {
    padding: 0.75rem 2rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 5rem;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
    font-size: 1rem;
}

.header_content .btn:hover {
    background-color: antiquewhite;
}

@media (width >= 768px) {
   nav {
    position: static;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
   }

   .nav_header {
    padding: 0;
    background-color: transparent;
   }

   .nav_logo span{
    display: flex;
   }

   .nav_menu_btn {
    display: none;
   }

   .nav_links {
    position: static;
    flex-direction: row;
    padding: 0;
    justify-content: flex-end;
    gap: 2rem;
    background-color: transparent;
    transform: none;
   }

   .nav_links a:hover{
    color: var(--primary-color);
   }

   .header_container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
   }

   .header_image{
    grid-area: 1/2/2/3;
   }

   .header_content {
    text-align: left;
   }
}

.content {
    font-size: 1rem;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 3em 2rem;
    text-align: center;
    color: var(--text-light);
    margin-bottom: 2rem;
    background-color: transparent;
    border-radius: 20px;
    background-color: #212429;
}

h3 {
    font-size: 3rem;
    font-weight: 400;
    align-items: center;
    color: var(--primary-color);
}

.content p {
    text-align: center;
    align-items: center;
}

.service_content {
    font-size: 1rem;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 3em 2rem;
    text-align: center;
    color: var(--text-light);
    margin-bottom: 2rem;
    background-color: transparent;
    border-radius: 20px;
    background-color: #212429;
}

.form {
    width: 45%;
    font-size: 1rem;
    padding: 2rem 1rem;   
    background-color: #202022;
    border-radius: 32px 32px 40px 40px;
    transition: 0.3s;
    line-height: 3;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto; 
}

.li {
     display: flex;
    align-items: center;
    gap: 8px;
    padding: 3rem 2rem;
     margin-bottom: 10px;
    border-radius: 8px;
}

.form :hover {
    box-shadow: 0px 3px 15px rgb(224, 229, 232);
}